h1,
h2,
h3 {
    font-family: 'Cinzel', serif;
    font-weight: 800;
    text-align: center;
}

body {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    background-color: #EAD7B7;
    color: #2e1f1b;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styled-card {
    background-color: #D2B48C;
    box-shadow: 5px 5px 15px rgba(62, 62, 62, 0.3);
}

.navbar {
    background: linear-gradient(90deg, #2C4A42, #4F6F52, #2C4A42);
    font-size: 18px;
    border-bottom: 1px solid #000000;
    font-weight: 300;
}

.navbar .nav-link,
.navbar-brand {
    color: white !important;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link.active {
    color: #D2B48C !important;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    padding-bottom: 3px;
}

.navbar:hover .nav-link.active:not(:hover) {
    color: white !important;
    text-decoration: none;
    font-weight: normal;
}

.navbar .nav-link:hover {
    color: #D2B48C !important;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    padding-bottom: 3px;
}

.nav-item .dropdown-menu a:hover {
    color: white !important;
    background: #2C4A42 !important;
}

.brand-logo {
    position: relative;
    top: -5px;
    left: 10px;
}

.btn-custom {
    background-color: #2C4A42;
    color: white;
}

.btn-custom:hover {
    background-color: #4F6F52;
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.intro {
    text-align: center;
}

#accordion {
    background-color: #EAD7B7 !important;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #accordion {
        width: 100%;
    }
}

.accordion-button {
    background-color: #EAD7B7 !important;
    color: #2e1f1b !important;
    font-weight: bold;
    border-bottom: 2px solid #2e1f1b !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.accordion-item {
    background-color: #EAD7B7 !important;
    color: #2e1f1b !important;
    border: none !important;
    margin-bottom: 3px;
}

.accordion-body {
    background-color: #EAD7B7 !important;
    font-weight: 500;
}

/* BS5 ACCORDIONIN IKONI ON MUUTETTU MUSTAKSI */

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>") !important;
}

.custom-form {
    justify-content: center;
    align-items: center;
    background-color: #D2B48C;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2e1f1b;
}

.custom-form textarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(44, 74, 66, 0.5);
}

.inlineInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInput {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

#customRange1 {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

#customRange1::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #2C4A42, #4F6F52, #2C4A42);
}

#customRange1::-webkit-slider-thumb {
    background: white;
    border: 1px solid #2e1f1b;
}

#inlineRadio1,
#inlineRadio2 {
    border: 1px solid #2e1f1b;
}

.custom-footer {
    background: linear-gradient(90deg, #2C4A42, #4F6F52, #2C4A42);
    color: white;
    padding: 10px;
    border-top: 1px solid #000000;
}

.custom-table th {
    background-color: #2C4A42;
    color: white;
    border: 1px solid black;
}

.custom-table td {
    background-color: #4F6F52;
    color: white;
    border: 1px solid black;
}

.modal-content {
    background-color: #EAD7B7;
    border: 1px solid #2e1f1b;
}

.modal-btn {
    background-color: #2C4A42;
    color: white;
}

.modal-btn:hover {
    background-color: #2C4A42;
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.pictureframe {
    background-color: #2C4A42;
    padding: 10px 10px 0px 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(44, 74, 66, 0.5);
}

.black-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#yhteys,
#tutki,
#meista {
    scroll-margin-top: 100px;
}

.bi {
    color: white;
}

@media (max-width: 768px) {
    .bi {
        padding: 0px 5px 0px 5px;
    }

    .footer-links span {
        display: flex;
        gap: 20px;
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .bi {
        margin: 0px 10px 0px 10px;
        font-size: 20px;
    }

    .footer-links span {
        display: flex;
        gap: 20px;
    }
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

#feedbackAlerts {
    width: 80%;
    margin: 0 auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}